.register-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3em;
    gap: 2em;
    font-size: small;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1em 0;
}

.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .7em
}

.register-form form input {
    width: 100%;
    padding: 10px 20px;
    font-family: "Urbanist";
    border-radius: 5px;
}

.register-page button {
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    font-family: Urbanist;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #350028;
}

.register-page button:hover{
    background-color: #ffffff;
    transition: .1s all ease-in;
    color: #1e1e3d;
}