.gif-container {
    margin: 0;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.gif-container img {
    object-fit: contain;
    width: 100%;
}

.gif-container h4 {
    background: rgba(0, 0, 0, .3);
    top: 10px;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
}