:root {
    --gridList-columns: 4;
}

.gifs-container {
    min-height: 100vh;
    column-count: var(--gridList-columns);
    column-gap: 10px;
}

@media screen and (min-width: 8.5rem) {
    :root {
        --gridList-columns: 2
    }
}

@media screen and (min-width: 55rem) {
    :root {
        --gridList-columns: 3
    }
}

@media screen and (min-width: 70rem) {
    :root {
        --gridList-columns: 4
    }
}