.home-container {
    font-family: Urbanist;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3em 8em;
}

.home-container h1 {
    font-size: 48px;
    font-weight: bolder;
}

.home-container form {
    display: flex;
    justify-content: center;
}

.home-container form input {
    font-family: Urbanist;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.home-container form button {
    cursor: pointer;
    color: #b4b4b4;
    font-family: Urbanist;
    padding: 10px 20px;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    background-color: #1e1e3d;
}

.home-container form button:hover{
    background-color: #b4b4b4;
    transition: .1s all ease-in;
    color: #1e1e3d;
}

.gifs-home {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.home-title {
    align-self: flex-start;
}

@media screen and (max-width: 950px) {
    .home-container {
        padding: 3em;
    }
    .gifs-home{
        flex-direction: column;
    }
}

@media screen and (max-width: 521px) {
    .home-container {
        padding: 3em 1em;
    }
}