.home-container {
    width: 100%;
    font-family: Urbanist;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3em 8em;
}
.home-container h1 {
    font-size: 48px;
    font-weight: bolder;
}

.gifs-home {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.home-title {
    align-self: flex-start;
    font-size: x-large;
}

@media screen and (max-width: 950px) {
    .home-container {
        padding: 3em;
    }
    .gifs-home{
        flex-direction: column;
    }
}

@media screen and (max-width: 521px) {
    .home-container {
        padding: 3em 1em;
    }
}