*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  background-color: rgb(6, 6, 14);
}

body a{
  color: #fff;
  text-decoration: none;
  font-family:'Urbanist', Courier, monospace;
}

.main-app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}